body {
  margin: 10px;
  padding: 10px;
  background: #fafafa url("../images/body.png") repeat;
  font-family: "Open Sans" !important;
}
h2 {
  margin-bottom: 20px !important;
  margin-top: 0 !important;
}
.input-group {
  width: 100%;
}
.nav-pills li a {
  font-size: 12px;
  padding: 3px;
}
.list-group {
  width: 100%;
  max-height: 150px;
  overflow: scroll;
  margin-bottom: 5px;
}
#abbr, #altLabels {
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  padding: 3px 12px;
  font-size: 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
#abbr:focus, #altLabels:focus {
    border-color: #66afe9 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6) !important;
    outline: 0 none !important;
}
#conceptsContainer {
  margin-bottom: 5px;
  width: 100%;
  max-height: 289px;
  overflow: scroll;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#conceptsSearchBox, #conceptsSearchBox2 {
  border-radius: 4px 4px 0 0 !important;
  padding: 6px 5px;
}

#conceptsContainer .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
#conceptsContainer .list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
  border-bottom: none;
}
#conceptsContainer .list-group-item {
  padding: 3px 5px;
  font-size: 12px;
  background: #f5f5f5;
}
.list-group-item {
  padding: 3px 5px;
  font-size: 12px;
  background: #f5f5f5;
}
.highlight { 
  border-bottom: 1px solid;
  font-weight: bold;
}
.toolTipLink {
  font-size: 12px;
}
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
.active {
  color: #fff !important;
  background: #333 !important;
  border-color: #333 !important;
}
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 73%;
}
.span_1_of_3 {
  width: 25%;
}
#deleteConcept {
  display: none;
}
@media only screen and (max-width: 480px) {
  .col { 
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_3_of_3 {
    width: 100%; 
  }
  .span_2_of_3 {
    width: 100%; 
  }
  .span_1_of_3 {
    width: 100%;
  }
}

#conceptsContainer a.list-group-item:hover, #conceptsContainer a.list-group-item:focus {
    background-color: #e9e9e9;
    text-decoration: none;
}
.right {
   float: right;
   margin-bottom: 20px;
}

.qtip-default {
    background-color: #fff !important;
    border-color: #ECF0F1 !important;
    color: #fff;
    border-radius: 5px;
    font-size: 10px !important;
}
.qtip {
  box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.75) !important;
}
#concepts-loader {
  font-size: 10px;
  font-weight: bold;
}
#switch {
  float: right;
}
#newCategoryButton {
  float: left;
}
.category {
    float: left;
    margin-right: 20px;
    min-width: 320px;
    width: 320px;
}
.category-content {
  overflow: auto;
  max-height: 250px;
  height: 250px !important;
}
.buttons {
  float: right;
}
.remove {
  float: right;
}
@-webkit-keyframes 'blink' {
  0% {
    border-color: #ededed;
  }
  100% {
    border-color: #b94a48;
  }
}
@-moz-keyframes 'blink' {
  0% {
    border-color: #ededed;
  }
  100% {
    border-color: #b94a48;
  }
}
@keyframes 'blink' {
  0% {
    border-color: #ededed;
  }
  100% {
    border-color: #b94a48;
  }
}
.tokenfield {
  height: auto;
  min-height: 34px;
  padding-bottom: 0px;
}
.tokenfield.focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.tokenfield .token {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  border: 1px solid #d9d9d9;
  background-color: #ededed;
  white-space: nowrap;
  margin: -1px 5px 12px 0;
  height: 18px;
  vertical-align: top;
  cursor: default;
}
.tokenfield .token:hover {
  border-color: #b9b9b9;
}
.tokenfield .token.active {
  border-color: #52a8ec;
  border-color: rgba(82, 168, 236, 0.8);
}
.tokenfield .token.duplicate {
  border-color: #ebccd1;
  -webkit-animation-name: blink;
  animation-name: blink;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.tokenfield .token.invalid {
  background: none;
  border: 1px solid transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px dotted #d9534f;
}
.tokenfield .token.invalid.active {
  background: #ededed;
  border: 1px solid #ededed;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.tokenfield .token .token-label {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 4px;
  vertical-align: top;
  font-size: 11px;
}
.tokenfield .token .removeFacet {
  display: inline-block;
  line-height: 100%;
  font-size: 1em;
  line-height: 1.1em;
  margin-left: 5px;
  float: none;
  height: 100%;
  vertical-align: top;
  padding-right: 4px;
  text-decoration: none !important;
}
.tokenfield .token-input {
  background: none;
  width: 60px;
  min-width: 60px;
  border: 0;
  height: 20px;
  padding: 0;
  margin-bottom: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.tokenfield .token-input:focus {
  border-color: transparent;
  outline: 0;
  /* IE6-9 */
  -webkit-box-shadow: none;
  box-shadow: none;
}
.tokenfield.disabled {
  cursor: not-allowed;
  background-color: #eeeeee;
}
.tokenfield.disabled .token-input {
  cursor: not-allowed;
}
.tokenfield.disabled .token:hover {
  cursor: not-allowed;
  border-color: #d9d9d9;
}
.tokenfield.disabled .token:hover .close {
  cursor: not-allowed;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.has-warning .tokenfield.focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-error .tokenfield.focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-success .tokenfield.focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.tokenfield.input-sm,
.input-group-sm .tokenfield {
  min-height: 30px;
  padding-bottom: 0px;
}
.input-group-sm .token,
.tokenfield.input-sm .token {
  height: 20px;
  margin-bottom: 4px;
}
.input-group-sm .token-input,
.tokenfield.input-sm .token-input {
  height: 18px;
  margin-bottom: 5px;
}
.tokenfield.input-lg,
.input-group-lg .tokenfield {
  min-height: 45px;
  padding-bottom: 4px;
}
.input-group-lg .token,
.tokenfield.input-lg .token {
  height: 25px;
}
.input-group-lg .token-label,
.tokenfield.input-lg .token-label {
  line-height: 23px;
}
.input-group-lg .token .close,
.tokenfield.input-lg .token .close {
  line-height: 1.3em;
}
.input-group-lg .token-input,
.tokenfield.input-lg .token-input {
  height: 23px;
  line-height: 23px;
  margin-bottom: 6px;
  vertical-align: top;
}
.tokenfield.rtl {
  direction: rtl;
  text-align: right;
}
.tokenfield.rtl .token {
  margin: -1px 0 5px 5px;
}
.tokenfield.rtl .token .token-label {
  padding-left: 0px;
  padding-right: 4px;
}
.level2 {
  margin-left: 15px !important;
  margin-top: -10px !important;
}
.level3 {
  margin-top: -10px !important;
  margin-left: 30px !important;
}
.popover-title {
  color: #333 !important;
}
#stemming {
  display: none;
  float: left;
  margin-right: 7px;
}
.icheckbox_line {
  padding: 6px 15px 7px 38px !important;
  margin-top: 1px !important;
}
#newFacetInput, #newConceptInput {
    border: medium none !important;
    color: #555 !important;
    line-height: 38px;
    width: 470px;
    padding: 0 10px;
}
.md-content button {
    display: inline-block;
    font-size: 0.8em;
    margin: 12px auto !important;
    padding-top: 10px;
}
#saveNewFacet, #saveNewConcept {
  font-size: 15px !important;
}
.label-success {
  background: #34495E !important;
}