<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
					http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


    <bean id="repository" factory-method="newInstance" class="com.ontotext.tools.skoseditor.util.RepositoryProvider">
        <constructor-arg name="dataFolder" value="#{ systemProperties['skosedit.home'] }"/>
    </bean>

    <bean id="validationRepository" class="com.ontotext.tools.skoseditor.repositories.sesame.SesameValidationRepository">
        <constructor-arg ref="repository"/>
    </bean>

    <bean id="extractionService" class="com.ontotext.tools.skoseditor.services.impl.ExtractionServiceImpl"/>

    <bean id="conceptsRepository" class="com.ontotext.tools.skoseditor.repositories.sesame.SesameConceptsRepository">
        <constructor-arg ref="repository"/>
    </bean>

    <bean id="conceptsService" class="com.ontotext.tools.skoseditor.services.impl.ConceptsServiceImpl">
        <constructor-arg ref="conceptsRepository"/>
        <constructor-arg ref="validationRepository"/>
    </bean>
</beans>