<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
					http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


    <bean id="infoRepository" class="com.ontotext.skoshi.repositories.sesame.SesameInfoRepository">
        <constructor-arg ref="repository"/>
    </bean>

    <bean id="validationRepository" class="com.ontotext.skoshi.repositories.sesame.SesameValidationRepository">
        <constructor-arg ref="repository"/>
    </bean>

    <bean id="conceptsRepository" class="com.ontotext.skoshi.repositories.sesame.SesameConceptsRepository">
        <constructor-arg ref="repository"/>
    </bean>

    <bean id="facetsRepository" class="com.ontotext.skoshi.repositories.sesame.SesameFacetsRepository">
        <constructor-arg ref="repository"/>
    </bean>


    <bean id="infoService" class="com.ontotext.skoshi.services.impl.InfoServiceImpl">
        <constructor-arg ref="infoRepository"/>
    </bean>

    <bean id="extractionService" class="com.ontotext.skoshi.services.impl.ExtractionServiceImpl"/>

    <bean id="facetsService" class="com.ontotext.skoshi.services.impl.FacetsServiceImpl">
        <constructor-arg ref="facetsRepository"/>
        <constructor-arg ref="validationRepository"/>
    </bean>

    <bean id="conceptsService" class="com.ontotext.skoshi.services.impl.ConceptsServiceImpl">
        <constructor-arg ref="conceptsRepository"/>
        <constructor-arg ref="validationRepository"/>
    </bean>

</beans>
